body {
  background-image: url(../img/ripples.png);
  color: #8c1817;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  color: #a9b387;
  font-size: 35px;
}

img {
  width: 70%;
  height: 50%;
  ;
}

.sidebar {
  width: 30%;
  float: left;
}

.float-left {
  width: 70%;
  float: right;
}

h2 {
  color: #e5a751;
  font-style: italic;
}

.intro {
  color: #b38f52;
  font: italic bold 12pt/14pt;
}

.border {
  margin: 12px;
  border: 7px solid #e3b651;
  padding: 4px;
  width: 200px;
}

p {
  font-size: 20px;
}

li {
  color: #ebc334;
  font-weight: bold;
  font-size: 20px;
}

a {
  color: #c985ab;
}