body {
  background-image: url(../img/ripples.png);
  color: #e2c6a2;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  color: #a9b387;
}

img {
  width: 70%;
  height: 50%;
  ;
}

.sidebar {
  width: 30%;
  float: left;
}

.float-left {
  width: 70%;
  float: right;
}

h2 {
  color: #e5a751;
}